<%- include("partials/header"); %>
<script type="module">
  import { io } from "https://cdn.socket.io/4.7.5/socket.io.esm.min.js";
  const valor = document.getElementById("valor");

  const socket = io("http://localhost:3001", {
    autoConnect: false,
  });

  socket.connect();

  socket.on("update.payment", (data) => {
    console.log(data);
    valor.innerText = Number(valor.innerText) + Number(data);
  });

  socket.on("disconnect", () => {
    console.log("disconnected");
    socket.connect();
  });

  document.querySelector("#emitirPagamento").addEventListener("click", () => {
    socket.emit("pagamentos", "R$29,90");
  });

  socket.on("connect_error", (err) => {
    console.log(err);
  });
</script>
<div
  class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
>
  <a href="#">
    <img
      class="p-4 rounded-t-lg max-w-auto"
      src="hol.png"
      alt="product image"
    />
  </a>
  <div class="px-5 pb-5">
    <a href="#">
      <h5
        class="text-lg font-semibold tracking-tight text-gray-900 dark:text-white"
      >
        Apple Watch Series 7 GPS, Aluminium Case, Starlight Sport
      </h5>
    </a>
    <div class="flex items-center mt-2 justify-between">
      <span class="text-2xl font-bold text-gray-900 dark:text-white" id="valor"
        >0</span
      >
      <a
        id="emitirPagamento"
        href="javascript:void(0)"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >Adicionar</a
      >
    </div>
  </div>
</div>

<%- include("partials/footer"); %>
